:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

body {
    background-color: rgba(38, 120, 243, 0.64);
    font-family:"Comic Sans MS",times,serif ;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

/*NAV SECTION*/
ul.site-nav {
    display: flex;
    padding: .5em;
    list-style-type: none;
    background-color: chocolate;
    border-radius: .2em;
}

ul.site-nav > li {
    margin-top: 0;
}

ul.site-nav > li > a {
    display: block;
    padding: .5em 1em;
    background-color: lightgrey;
    color: blue;
    text-decoration: none;
}

ul.site-nav > li > a:hover {
    background-color: rgba(38, 120, 243, 0.64);
}

ul.site-nav > li + li {
    margin-left: 1.5em;
}

ul.site-nav > .nav-right {
    margin-left: auto;
}

/*FLEX CONTAINER*/
/*MAIN*/
main {
    display: flex;
}

/*FLEX ITEMS*/
main > * + * {
    margin-top: 0;
    margin-left: 1.5em;
}

.tile {
    padding: 1.5em;
    background-color: white;

}


.tile :first-child {
    margin-top: 0;
}

.column-main {
    flex: 3;
}

.column-sidebar {
    flex: 1;
}

.column-sidebar {
    display: flex;
    flex-direction: column;
}
.column-sidebar> .tile{
    flex: 1;
}
/*SIDEBAR*/
h3 {
    margin: 0;
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

label {
    text-align: left;
    font-weight: bold;
}
.login-form input:not([type="checkbox"],.login-form input[type="radio"]){
    display: block;
    width: 100%;
    margin-top: 0;
    border: 1px solid #ffff;
    padding: .5em 1em;
}

.login-form button{
    margin-top: 1em;
    border: 1px solid green;
    background-color: darkmagenta;
    padding: .5em 1em;
    cursor:pointer;
}


.centered{
    text-align: center;
    background-color: #fff;

}

.cost{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: .7;
}
.cost > span{
    margin-top: 0;
}
.cost-currency{
    font-size: 2rem;
}
.cost-dollars{
    font-size: 4rem;
}
.cost-cents{
    font-size: 1.5rem;
    align-self:flex-start ;
}

.cta-button{
    display: block;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: .5em 1em;
}